.ex-two {
  height: auto;

  &__item {
    height: 23em;
    border: 1px;

    & span {
      text-align: justify;
      font-size: 0.8em;
    }

    & hr {
      height: 1px;
      color: #123455;
      background-color: #123455;
      border: none;
    }
  }
}
